@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  height: 5900px;
  width: 100vw;
  background: #121212; 
  overflow-x: hidden;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  height: 60px;
  width: 100vw;
  max-width: 100%;
  background: #000000;
  position:absolute;
  top:0;
}

.name{
  color: #f4f3ee;
  font-family: 'Roboto', sans-serif;
  float: left;
  margin-top: 20px;
  margin-left: 4px;
  font-size: 18px;
  pointer-events: none;
}

.logo {
  height: 55px;
  pointer-events: none;
  float: left;
  margin-left: 2px;
  margin-top: 4px;
}

.navbar{
  position:absolute;
  top: 17px;
  left: 250px;
}

.navbar a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
}

.enterapp{
  position:absolute;
  top: 10px;
  left: 1330px;
  color: black;
  font-size: 20px;
  background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(193,193,193,1) 100%);
  padding: 6px 15px;
  border-radius: 10px;
  font-weight: 600;
}

.enterapp a{
  text-decoration: none;
  color: black;
}

.enterapp:hover{
  background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(173,173,173,1) 100%);
}

.discord-mobile{
  position:absolute;
  top: 15px;
  right: 75px;
  width: 34px;
  height: 26px;
}

.twitter-mobile{
  position:absolute;
  top: 15px;
  right: 125px;
  width: 34px;
}

.tv-mobile{
  position:absolute;
  top: 5px;
  right: 15px;
  width: 46px;
}

.chartDiv-mobile{
  width: 100vw;
  max-width: 1700px;
  margin-top: 40px;
  margin-left: -10px;
  margin-right: -10px;
  position: absolute;
  top: 275px;
  left: -4px;
}

.intro-mobile{
  position:absolute;
  top:60px;
  left: 20px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  width: 400px;
  font-weight: 400;
  line-height: 60px;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.introsub-mobile {
  position:absolute;
  top:210px;
  left: 25px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  width: 200px;
  font-weight: 400;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  line-height: 35px;
}

.readpaper-mobile{
  width:450px;
  position:absolute;
  top: 500px;
  right: 0px;
  left: 45px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  animation: fadeIn 3s;
  z-index: 100;
}

.colorpaper-mobile{
  background: -webkit-linear-gradient(1800deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.tokenomics{
  position: absolute;
  top: 750px;
}

.redsvg-mobile{
  position: absolute;
  left: 55px;
  top: 720px;
  width: 120px;
}

.grnsvg-mobile{
  position: absolute;
  left: 205px;
  top: 720px;
  width: 120px;
}

.blusvg-mobile{
  position: absolute;
  left: 130px;
  top: 850px;
  width: 120px;
}

.redsvg:hover{
  opacity: 0.7;
}

.grnsvg:hover{
  opacity: 0.7;
}

.blusvg:hover{
  opacity: 0.7;
}

.rgbthree{
  position: absolute;
  left: 60px;
  top: 770px;
  width: 600px;
  z-index: 100;
}

.rgbthree:hover{
  opacity: 0;
}

.pie-mobile{
  position: absolute;
  left: -90;
  top: 1380px;
  width: 550px;
}

.tokens-mobile{
  position:absolute;
  top:620px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  width: 350px;
  font-weight: 400;
}

.tokenssub-mobile{
  position:absolute;
  top:960px;
  right: 0px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  width: 350px;
}

.buynow{
  position:absolute;
  top:1275px;
  right: 200px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  text-decoration: none;
  background: -webkit-linear-gradient(1800deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 400px;
}

.howitworks-mobile{
  position:absolute;
  top:1720px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  width: 375px;
  font-weight: 400;
}

.correlation-mobile{
  position:absolute;
  top:1830px;
  left: 20px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}

.chart2Div-mobile{
  width: 60vw;
  min-width: 350px;
  position:absolute;
  top:2105px;
  right:20px;
}

.tryme-mobile{
  position: absolute;
  top:1955px;
  left: 45px;
  width: 300px;
  height: 125px;
  border: none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  border-radius: 20px;
}

.plot{
  position: absolute;
  top:2240px;
  left: 50px;
  width: 720px;
  height: 720px;
  border: none
}

.visit-mobile{
  position:absolute;
  top:2260px;
  left: 45px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 400;
  width: 350px;
}

.finally-mobile{
  position:absolute;
  top:2370px;
  right: 20px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  width: 350px;
}

.checkit{
  position:absolute;
  top:2770px;
  right: 170px;
  color:whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  width: 400px;
}

.tech-mobile{
  position:absolute;
  top:2720px;
  left: 25px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
  font-weight: 400;
}

.techsub-mobile{
  position:absolute;
  top:2890px;
  left: 30px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  width: 350px;
}

.icp-mobile{
  position:absolute;
  top:3590px;
  right: 190px;
  width: 170px;
}
.matic-mobile{
  position:absolute;
  top:3800px;
  right: 25px;
  width: 150px;
}

.storj-mobile{
  position:absolute;
  top:3780px;
  right: 200px;
  width: 160px;
}

.grt-mobile{
  position:absolute;
  top:3600px;
  right: 10px;
  width: 190px;
}

.grt:hover{
  opacity: 0.6;
}
.icp:hover{
  opacity: 0.6;
}
.storj:hover{
  opacity: 0.6;
}
.matic:hover{
  opacity: 0.6;
}


.ourteam-mobile{
  position:absolute;
  top:4230px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.hippored-mobile{
  position:absolute;
  top:4455px;
  left: 25px;
  width: 150px;
  border-radius: 50%;
}

.milli-mobile{
  position:absolute;
  top: 4560px;
  left: 65px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  width: 700px;
}

.marketing-mobile{
  position:absolute;
  top:4621px;
  left: 25px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  width: 150px;
}

.hippoblu-mobile{
  position:absolute;
  top:4455px;
  left: 215px;
  align-items: center;
  width: 150px;
  border-radius: 50%;
}

.hippolink{
  padding: 0;
  margin: 0;
  display: block;
  width: 300px;
}

.founder-mobile{
  position:absolute;
  top:4850px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
}

.akultra-mobile{
  position:absolute;
  top:4810px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
}

.hippogrn-mobile{
  position:absolute;
  top:4705px;
  right: 125px;
  width: 150px;
  border-radius: 50%;
}

.fiesta-mobile{
  position:absolute;
  top:4560px;
  right: 55px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
}

.leaddev-mobile{
  position:absolute;
  top:4620px;
  right: 50px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 100px;
  line-height: 25px;
}

.hippored:hover{
  opacity: 0.6;
}
.hippogrn:hover{
  opacity: 0.6;
}
.hippoblu:hover{
  opacity: 0.6;
}

.spring-mobile{
  position:absolute;
  top:3940px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 400;
  width: 350px;
}

.twin22{
  background: -webkit-linear-gradient(1800deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ss{
  width: 95vw;
  min-width: 1300px;
  max-width: 1600px;
  position: absolute;
  top:3800px;
  align-items: center;
}

.demovid-mobile{
  width: 350px;
  position: absolute;
  top:4125px;
  align-items: center;
  outline: none;
}

.cover-mobile{
  position: absolute;
  top:4126px;
  left: 20px;
  width: 100px;
  height: 10px;
  background-color: #151515;
  z-index: 100;
}


.roadmap-mobile{
  position:absolute;
  top:4875px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  width: 100vw;
  text-align: center;
  font-weight: 400;
}

.timeline-mobile{
  position:absolute;
  top: 5015px;
  width: 100vw;
  height: 10px;
  background: linear-gradient(-90deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
}

.q1-mobile{
  position:absolute;
  top:4985px;
  left: 20px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.q2-mobile{
  position:absolute;
  top:5235px;
  left: 20px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.q3-mobile{
  position:absolute;
  top:5495px;
  left: 20px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.q4{
  position:absolute;
  top:5220px;
  right: 90px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.list1-mobile{
  position:absolute;
  top:5070px;
  left: 5px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
}

.list2-mobile{
  position:absolute;
  top: 5320px;
  left: 5px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}

.list3-mobile {
  position:absolute;
  top:5580px;
  left: 5px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}

.tab1{
  position: relative;
  left: 25px;
}

.tab2{
  position: relative;
  left: 50px;
}

.tab3{
  position: relative;
  left: 75px;
}

.tab2short{
  position: relative;
  left: 100px;
  width: 85%;
}

.tab3short{
  position: relative;
  left: 150px;
  width: 70%;
}

ul li{
  width:350px;
}

.hippo-mobile{
  position:absolute;
  top:5825px;
  align-items: center;
  color: #505050;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}