@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  height: 5500px;
  width: 100vw;
  background: #121212; 
  overflow-x: hidden;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  height: 60px;
  width: 100vw;
  max-width: 100%;
  background: #000000;
  position:absolute;
  top:0;
}

.name{
  color: #f4f3ee;
  font-family: 'Roboto', sans-serif;
  float: left;
  margin-top: 17px;
  margin-left: 4px;
  font-size: 26px;
  pointer-events: none;
}

.logo {
  height: 55px;
  pointer-events: none;
  float: left;
  margin-left: 2px;
  margin-top: 4px;
}

.navbar{
  position:absolute;
  top: 17px;
  left: 250px;
}

.navbar a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
}

.enterapp{
  position:absolute;
  top: 10px;
  left: 1330px;
  color: black;
  font-size: 20px;
  background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(193,193,193,1) 100%);
  padding: 6px 15px;
  border-radius: 10px;
  font-weight: 600;
}

.enterapp a{
  text-decoration: none;
  color: black;
}

.enterapp:hover{
  background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(173,173,173,1) 100%);
}

.discord{
  position:absolute;
  top: 15px;
  right: 105px;
  width: 34px;
  height: 27px;
}

.twitter{
  position:absolute;
  top: 15px;
  right: 170px;
  width: 34px;
}

.chartDiv{
  min-width: 1300px;
  width: 100vw;
  max-width: 1700px;
  margin-top: 40px;
  margin-left: -10px;
  margin-right: -10px;
  position: absolute;
  left: -4px;
}

.intro{
  position:absolute;
  top:60px;
  left: 40px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  width: 550px;
  font-weight: 400;
  line-height: 70px;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.introsub{
  position:absolute;
  top:230px;
  left: 40px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  width: 380px;
  font-weight: 400;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.readpaper{
  width:450px;
  position:absolute;
  top:470px;
  right: 100px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-decoration: none;
  animation: fadeIn 3s;
}

.colorpaper{
  background: -webkit-linear-gradient(1800deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.redsvg{
  position: absolute;
  left: 80px;
  top: 820px;
  width: 260px;
}

.grnsvg{
  position: absolute;
  left: 380px;
  top: 820px;
  width: 260px;
}

.blusvg{
  position: absolute;
  left: 230px;
  top: 1090px;
  width: 260px;
}

.redsvg:hover{
  opacity: 0.7;
}

.grnsvg:hover{
  opacity: 0.7;
}

.blusvg:hover{
  opacity: 0.7;
}

.tokens{
  position:absolute;
  top:770px;
  right: 50px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  width: 550px;
  font-weight: 400;
}

.tokenssub{
  position:absolute;
  top:910px;
  right: 0px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  width: 600px;
}

.buynow{
  position:absolute;
  top:1275px;
  right: 200px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  text-decoration: none;
  background: -webkit-linear-gradient(1800deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 400px;
}

.howitworks{
  position:absolute;
  top:1440px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  width: 375px;
  font-weight: 400;
}

.correlation{
  position:absolute;
  top:1630px;
  left: 40px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}

.chart2Div{
  width: 60vw;
  min-width: 800px;
  position:absolute;
  top:1680px;
  right:20px;
}

.tryme{
  position: absolute;
  top:1940px;
  left: 65px;
  width: 405px;
  height: 200px;
  border: none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  border-radius: 20px;
}

.plot{
  position: absolute;
  top:2240px;
  left: 50px;
  width: 720px;
  height: 720px;
  border: none
}

.visit{
  position:absolute;
  top:2350px;
  right: 210px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 400;
  width: 300px;
}

.finally{
  position:absolute;
  top:2490px;
  right: 65px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  width: 580px;
}

.checkit{
  position:absolute;
  top:2770px;
  right: 170px;
  color:whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  width: 400px;
}

.tech{
  position:absolute;
  top:3020px;
  left: 100px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 400;
}

.techsub{
  position:absolute;
  top:3170px;
  left: 100px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  width: 700px;
}

.icp{
  position:absolute;
  top:3100px;
  right: 350px;
  width: 250px;
}
.matic{
  position:absolute;
  top:3360px;
  right: 50px;
  width: 210px;
}

.storj{
  position:absolute;
  top:3350px;
  right: 370px;
  width: 210px;
}

.grt{
  position:absolute;
  top:3110px;
  right: 50px;
  width: 230px;
}

.ourteam{
  position:absolute;
  top:4460px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 400;
}

.hippored{
  position:absolute;
  top:4650px;
  left: 150px;
  width: 300px;
  border-radius: 50%;
}

.milli{
  position:absolute;
  top:4950px;
  left: 265px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  width: 700px;
}

.marketing{
  position:absolute;
  top:4990px;
  left: 185px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
  width: 700px;
}

.hippogrn{
  position:absolute;
  top:4650px;
  align-items: center;
  width: 300px;
  border-radius: 50%;
}

.founder{
  position:absolute;
  top:4990px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
}

.akultra{
  position:absolute;
  top:4950px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
}

.hippoblu{
  position:absolute;
  top:4650px;
  right: 150px;
  width: 300px;
  border-radius: 50%;
}

.fiesta{
  position:absolute;
  top:4950px;
  right: 255px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
}

.leaddev{
  position:absolute;
  top:4980px;
  right: 190px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 60px;
}

.spring{
  position:absolute;
  top:3690px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 400;
  width: 810px;
}

.twin22{
  background: -webkit-linear-gradient(1800deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ss{
  width: 95vw;
  min-width: 1300px;
  max-width: 1600px;
  position: absolute;
  top:3800px;
  align-items: center;
}

.roadmap{
  position:absolute;
  top:5200px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  width: 300px;
  font-weight: 400;
}

.timeline{
  position:absolute;
  top:5360px;
  width: 100vw;
  height: 10px;
  background: linear-gradient(-90deg, rgba(199,255,173,1) 0%, rgba(164,236,210,1) 16%, rgba(113,178,255,1) 31%, rgba(178,119,234,1) 44%, rgba(255,117,210,1) 64%, rgba(255,109,109,1) 83%, rgba(255,175,55,1) 100%);
}

.q1{
  position:absolute;
  top:5220px;
  left: 90px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.q2{
  position:absolute;
  top:5220px;
  left: 340px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.q3{
  position:absolute;
  top:5220px;
  right: 340px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.q4{
  position:absolute;
  top:5220px;
  right: 90px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.list1{
  position:absolute;
  top:5360px;
  left: 50px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}

.list2{
  position:absolute;
  top:5360px;
  align-items: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}

.list3{
  position:absolute;
  top:5360px;
  right: 50px;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}

.tab1{
  position: relative;
  left: 50px;
}

.tab2{
  position: relative;
  left: 100px;
}

.tab3{
  position: relative;
  left: 150px;
}

.tab2short{
  position: relative;
  left: 100px;
  width: 85%;
}

.tab3short{
  position: relative;
  left: 150px;
  width: 70%;
}

ul li{
  width:350px;
}

.hippo{
  position:absolute;
  top:5725px;
  align-items: center;
  color: #505050;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}